<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ambulance | refinehealth</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link
      href="/static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Header Start -->
    <header id="header" class="header fixed-top">
      <div
        class="
          container-fluid container-xl
          d-flex
          align-items-center
          justify-content-between
        "
      >
        <a href="/" class="logo d-flex align-items-center">
          <span>refine<span class="health">health</span></span>
        </a>
        <!-- Navbar Start -->
        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="/ambulance"
                >Emergency</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="/#values">Appointment</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/#values">Medicines</a>
            </li>
            <li><a class="nav-link scrollto" href="/">Reminder</a></li>
            <!-- <li>
              <a class="nav-link scrollto" href="/">Diagnostics</a>
            </li> -->
            <li><a class="nav-link scrollto" href="/">Report</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- Navbar End -->
      </div>
    </header>
    <!-- Header End -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row gx-0">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="content">
              <div class="wrapper">
                <div class="search-input">
                  <a href="" target="_blank" hidden></a>
                  <input type="text" placeholder="Type to search.." />
                  <div class="autocom-box">
                    <!-- here list are inserted from javascript -->
                  </div>
                  <div class="icon"><i class="fas fa-search"></i></div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-6 d-flex align-items-center"
            data-aos="zoom-out"
            data-aos-delay="200"
          >
            <div class="container-fluid map_container">
              <div class="map" style="float: right">
                <iframe
                  src="https://maps.google.com/maps?q=West%20Bengal&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  width="500"
                  height="450"
                  frameborder="0"
                  style="border: 0"
                  allowfullscreen=""
                  aria-hidden="false"
                  tabindex="0"
                >
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Vendor JS Files -->
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/static/vendor/aos/aos.js"></script>
    <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- JS File -->
    <script src="/static/js/main.js"></script>
    <script src="/static/js/amb_name.js"></script>
    <script src="/static/js/amb.js"></script>
  </body>
</html>
